<!DOCTYPE html>
<html>
<head>
  <title>CloudChat</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'application/favicon' %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link href="https://fonts.googleapis.com/css?family=Aldrich|Courgette" rel="stylesheet">
</head>
<body>

<%= yield %>

</body>
</html>
